@import "tailwindcss";
@import "@heroui/styles";

:root {
  /* Brand Colors */
  --primary: #0F4C81;
  --secondary: #1E6091;
  --accent: #FFC300;

  /* Light Mode */
  --background: #F8FAFC;
  --surface: #FFFFFF;
  --foreground: #111827;
  --muted: #6B7280;
  --border: #E5E7EB;

  --success: #10B981;
  --warning: #F59E0B;
  --danger: #EF4444;
}

.dark {
  /* Dark Mode */
  --background: #0F172A;
  --surface: #1E293B;
  --foreground: #F8FAFC;
  --muted: #CBD5E1;
  --border: #334155;
}


body {
  background: var(--background);
  color: var(--foreground);
  border: var(--border)
}

/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
