@import "tailwindcss";
@import "@heroui/styles";

:root {
  /* Brand Colors */
  --primary: #0F4C81;     /* Buttons, Links, /Highlights, Active states */
  --secondary: #1E6091;   
  --accent: #FFC300;      /*CTA Buttons, Badges, /Important Highlights */

  /* Light Mode */
  --background: #F8FAFC;    /*Background*/
  --surface: #FFFFFF;       /*Card*/
  --border: #E5E7EB;        /*Border*/
  --foreground: #111827;    /*Heading*/
  --muted: #6B7280;         /*Text*/
  --mutedText: #9CA3AF;     /*Muted Text*/

  --success: #10B981;
  --warning: #F59E0B;
  --danger: #EF4444;
  --info: #0ea5e9;

   /* Layout */
  --sidebar-width: 18rem;
  --header-height: 4rem;
  --sidebar-bg: var(--surface);

  /* Focus */
  --focus: var(--secondary);
  --focus-ring: rgba(30, 96, 145, .2);

  /* Radius */
  --radius-sm: .75rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;

  /* Shadows */
  --shadow-sm: 0 1px 3px rgba(0,0,0,.08);
  --shadow-md: 0 4px 12px rgba(0,0,0,.08);
  --shadow-lg: 0 12px 30px rgba(0,0,0,.12);
}

.dark {
  /* Dark Mode */
  --background: #0F172A;    /*Background*/
  --surface: #1E293B;       /*Card*/
  --border: #334155;        /*Border*/
  --foreground: #F8FAFC;    /*Heading*/
  --muted: #CBD5E1;         /*Text*/
  --mutedText: #94A3BB;     /*Muted Text*/

  --sidebar-bg: #162033;

  --focus: #1E6091;
  --focus-ring: rgba(30,96,145,.25);
}


@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-background: var(--background);
  --color-surface: var(--surface);

  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-mutedText: var(--mutedText);

  --color-border: var(--border);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-info: var(--info);
}


body {
  background: var(--background);
  color: var(--foreground);
}

/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
